<i class="bi bi-star" *ngIf="starType === 'empty'"></i>
<i class="bi bi-star-fill" *ngIf="starType === 'filled'"></i>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" *ngIf="starType === 'partial'" fill="none" viewBox="0 0 16.819 16">
  <defs>
    <linearGradient id="star-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" stop-color="black" />
      <stop [attr.offset]="gradientPct" stop-color="black" />
      <stop [attr.offset]="gradientPct" stop-color="transparent" />
      <stop offset="100%" stop-color="transparent" />
    </linearGradient>
  </defs>
  <path d="M4.125,15.265a.517.517,0,0,1-.728-.578l.81-4.616L.768,6.8a.544.544,0,0,1,.277-.928l4.78-.679L7.957.965a.5.5,0,0,1,.905,0l2.132,4.223,4.781.679a.543.543,0,0,1,.275.928l-3.438,3.276.81,4.616a.517.517,0,0,1-.728.578l-4.286-2.2-4.284,2.2Z" fill="url(#star-gradient)" stroke="black"/>
</svg>