img {
  max-width: 100%;

  &.placeholder-image {
    position: relative;

    &, &::before {
      width: 300px;
      height: 420px;
    }

    &::before {
      content: "";
      display: block;
      background-color: #CCC;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "No Poster Found";
      transform: translate(-50%, -50%);
    }
  }

}

:host-context(.favorites-grid_card) {
  img.placeholder-image {
    
      &, &::before {
        max-width: 130px;
        max-height: 220px;
        background-color: var(--body-color);
      }

      &::after {
        color: var(--bs-body-bg);
      }
    }
}
